
* {
    margin: 0px;
    padding: 0px;
}

.cuerpoBlanco {
    color:white;
    font-family: Prata;
    text-align: left;
    margin-left: 80px;

}

.centrado{
    text-align:center;
    width: 100%;
    float: left;
}


h1 {
    font-size: 50px;
    color:rgb(46, 6, 6);
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

h2 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-family: Prata;
    font-weight: lighter;
    font-style: normal;
    fill-opacity: inherit;
}


/* ////////////////////////////////////////////////////// LOGO  IMAGEN   /////////////////////////////////////////////*/
   

.logo{
    width: 100%;
    height: 150px;
    position: relative;
}


.separarLogo {
     width: 10%;
     height: 100%;
     float: left;
    background-color: #270202;


}

.separarLogo a {
    width: 100%;
    height: 100%;
    background-color: #270202;
    text-align: center;
    float: left;
    margin-top: 19%;
    margin-left: 8%;
}

.separarBuscar{
    width: 70%;
    height: 100%;
    float: left;

}

.separarUsuario {
    width: 20%;
    height: 100%;
    float: left;
    background-color: #270202;

}

/* ////////////////////////////////////////////////////// BUSCAR           /////////////////////////////////////////////*/
  
/*parte que contiene boton de buscar */

.separarBuscar .posicionBoton {
    width: 100%;
    height: 100%;
    /* padding: 40% 50% 40% 0%; */
    background-color: #270202;
    text-align: center;
    float: left;
}

.separarBuscar .posicionBoton .containerBuscar {
    width: 90%;
    height: 60%;
    float: left;
    background-color: #270202;
    margin-top: 5%;
    margin-left: 5%;
}


/* ubicar logo de busqueda */
.separarBuscar .posicionBoton .containerBuscar .icon {
    position: absolute;
    float: right;
    margin-top: 0.1%;
    margin-left: 0.9%;
}

/* Editar la parte que  encierra el icono de buscar */


  .separarBuscar .posicionBoton .containerBuscar input.botonBuscar {
    width: 100%;
    height: 60%;
    background: #d8d4d4;
    font-size: 13pt;
    padding-left: 60px;
    border-radius: 10px;
}



  
/* ////////////////////////////////////////////////////// USUARIO   /////////////////////////////////////////////*/
  
/*Contenedor grande que tiene opciones de usuario*/

  .separarUsuario .opcionesUsuairo{


    width: 20%;
    height: 100%;
    float: left;
    background-color: #270202;
}

/*contendor mas pequenio con cada uno */

.separarUsuario .containerUsuario {
     width: 100%; 
}

.separarUsuario  .containerUsuario .btnAcceder{
    margin-left: 2%;
    width: 26%;
    margin-right: 2%;
    color: #2e2e2e;
    float: left;
    font-size: 10px;
    margin-top: 10%;
    border-style: outset;
    border-color: #f7f7f7;
    text-align: center;
    background-color: #dddddd;

}



/* ////////////////////////////////////////////////////// LIMPIAR /////////////////////////////////////////////*/
  
.separador{
    width: 100px;
    background-color: rgb(90, 12, 12);
    clear: both;
}


/* ////////////////////////////////////////////////////// MENU   /////////////////////////////////////////////*/
  

#nav{
    height: 62px;
    background-color:rgb(32, 20, 20);;
    text-align: center;
    position: relative;
  }

  #nav ul{
     list-style: none;
     display: inline-block;
  }

  #nav ul li{
      float: left;
      margin-top: 20px;
  }

  #nav ul li a {
      color: white;
      font-weight: bold;
      text-decoration: none;
      font-size: 20px;
      padding: 20px;
  }

  #nav ul li a:hover{
    background-color: black;
  }

/* ////////////////////////////////////////////////////// IMAGEN   FONDO       /////////////////////////////////////////////*/
  

.fondo {
    width: 100%;
    text-align: center;
    float: left;
    background-position: center;
    position: relative;   
    
}



.botones {
    width: 30%;
    height: 400px;
    margin-top: 290px;
    margin-left: 300px;
    padding: 5px 20px 5px 20px;
    float: left;
    position:  absolute;
}

.botones  .iniciarSesion {
    width: 40%;
    float: left;
    margin-top: 150px;
    margin-left: 10px;
    border-radius: 5px;
    position: relative;
    border-style: groove;
} 

a {
    list-style: none;
    color: black;
    
}

.botones  .registrarte {
    width: 30%;
    float: left;
    margin-top: 150px;
    margin-left: 20px;
    border-radius: 5px;
    position: relative;
    border-style: groove;
} 



h4 {

    color: #410909;
    font-size: 100%;
    font-family: auto;
}
.textoBoton {
    float: left;
    padding: 2px 5px 2px 5px;

    line-height: 20px;
    word-spacing: 3px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;

}


/* ////////////////////////////////////////////////////// SAKE  COMPRAR/////////////////////////////////////////////*/
  
.fondo {
    width: 100%;
    text-align: center;
    float: left;
    background-position: center;
    position: relative;   
    
}

.tabla h1{
    font-size: 50px;
    color: white;
}
.tabla{
    width: 100%;
    height: 250px;
    float: left;
    background-position: center;
    position: relative;
    background-color:rgb(36, 3, 3);
    margin-bottom: 5px;
    

}

table {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    height: 70%;
 }

 th, td {
    width: 20%;
    text-align: center;
    vertical-align: top;

 }

 .verMas {
    
    margin-right: 660px;
    color:white;
    border-radius: 5px;
    float: right;
    border-style: groove;
    text-align: center;
} 

/*///////////////////////////////////////////// TESTIMONIOS/////////////////////////////////////////////////////*/




.alcenter{text-align:center;}

#TestC{
     width:100%;

   }
   
   .redz{
     width:100%;
     position:relative;
     background-color: darkgrey;
   }
   
   div h1{

     color:rgb(46, 6, 6);
     margin-left: 35%;
     font-size: 50px;
   }
   
  
   .quote-section{
       
     width:55%;
     margin-left:530px;
     margin-bottom: 10px;
     position:relative;
     padding:20px;
     border-radius:10px;
     color:rgb(58, 6, 6);
     background:rgb(148, 141, 141);
   }
   
   .quote-section p{
    font-size: 10px;
    font-family: Patra;
   }

   .autor-section{
     width:30%;
     margin:0 auto;
     margin-top:1%;
     color:rgb(59, 3, 3);
     font-size:16px;
     text-align:center;
     border-radius:5px;
     background:rgba(236, 9, 9, 0.2);
     padding:5px;
   }
   





   

/*///////////////////////////////////////////////////FOOTER./////////////////////////////////////////////////////*/


.foot {
    clear: both;
 }







/*
h2 {
    font-size: 30px;
    color: maroon;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: normal;
}
.separarPublicidad{
    float: right;
    width: 20%
}
.separar{
    float:left;
    width: 60%
}

.separarIndicie{
    float: left;
    width: 20%
}

 
.centrado{
    text-align:center;
    width: 100%;
    float: left;
}
.justificado{
    text-align:justify;
}

.botonEncabezado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: palevioletred;
    border-radius: 6px;
    border: 2px maroon;
  }
  */