
.rate {

  margin-left: 37%;
  float: left;
  height: 16%;
  padding: 0 2%;
}
/*sobrepone estrellas*/
.rate:not(:checked) > input {
  
 left: 1000px; /*parte arreglar boton sale de la pantalla*/
 position: absolute; 

}

 

.rate:not(:checked) > label {

  float: right; /*seleccionar de izq a derecha*/
  width: 25px; /*separacion entre estrellas*/
  overflow: hidden; /*sobrepone las estrellas los valores que tiene cada estrella*/
  white-space: nowrap; 
  font-size: 25px; /*tamanio de la estrella*/
  color: rgb(206, 207, 151);
}

 

.rate:not(:checked) > label:before { content: '★ ';
 }
/*color de la estralla seleccionada*/
.rate > input:checked ~ label { color: #e1fa04; }

/*Color cuando esta sobre las estrellas*/
.rate:not(:checked) > label:hover, .rate:not(:checked) > label:hover ~ label { color: #e4e004; }

 

