label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
    color: #000;
}
 
.principal {
    display:block;
    margin:0 auto;
    width:510px;
    color: #d8d7d7;
    font-family:Arial;
}
 
form {
    margin:0 auto;
    width:400px;

}
 
input, textarea {
    width:380px;
    height:27px;
    background:#d8d7d7;
    border:2px solid #f6f6f6;
    padding:10px;
    margin-top:5px;
    font-size:10px;
    color:#ffffff;
}
 
textarea {
    height:150px;
}
 
#submit {
    width:85px;
    height:35px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}



section{
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 100px;
}



a:link {
    color: rgb(224, 245, 38);
    }
    
    /* muestra en gris los links visitados */
    a:visited {
    color:rgb(177, 14, 14);
    }
    
    /* muestra en rojo los links en hover */
    a:hover {
    color:rgb(56, 199, 0);
    }
    
    /* muestra en rojo claro los links activos */
    a:active {
    color:rgb(243, 1, 211);
    }

  
    .botonEnviar{
        width: 40%;
        height: 15%;
        float: left;
        border-radius: 10px;
        border-style: solid;
        border-color: rgb(255, 3, 3);
        background-color:#ffffffec;
    }